<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ParallelSuite" parallel="tests" thread-count="2">

    <!-- Run tests in Chrome -->
    <test name="ChromeTests">
        <parameter name="browser" value="chrome"/>
        <parameter name="cucumberTags" value="@sixersTest"/>
        <parameter name="yamlFilePath" value="testdata/SixersTestData.yml"/>
        <classes>
            <class name="gluecode.TestNGRunner"/>
        </classes>
    </test>

    <!-- Run tests in Firefox -->
    <test name="EdgeTests">
        <parameter name="browser" value="edge"/>
        <parameter name="cucumberTags" value="@sixersTest"/>
        <parameter name="yamlFilePath" value="testdata/SixersTestData.yml"/>
        <classes>
            <class name="gluecode.TestNGRunner"/>
        </classes>
    </test>

</suite>
